/* global style */
.accent-color {
  color: #5384ff;
}
/* end global style */

/* section style */
.login-section {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../img/bg-login.png");
  background-size: cover;
}

.form-login {
  max-width: 1220px;
  width: 100%;
  box-shadow: 0 0 139px rgba(147, 161, 185, 0.59);
  background-color: #f6f7fa;
}

.form-login-header {
  background-color: #0e1a35;
}

.form-login-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-login-header .main-logo {
  margin: auto 45px;
}

.form-login-header .login-or-register {
  display: flex;
  align-items: flex-start;
}

.form-login-header .login-or-register a {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  padding: 60px;
}

.form-login-header .login-link {
  border-bottom: 10px solid #5584ff;
  box-sizing: border-box;
}

.form-login .welcome-back-form {
  padding: 100px 0;
}

.form-login .form-content {
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-login .form-heading {
  color: #8492af;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 300;
  text-align: center;
  padding: 0 20px;
  margin: 0 0 100px;
}

.form-login .form-enter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 580px;
  width: 100%;
}

.form-login input[type=text] {
  width: 100%;
  color: #8492af;
  font-family: 'Roboto',sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding: 20px 20px 20px 70px;
  margin-top: 40px;
  border: none;
  border-bottom: 1px solid rgba(132, 146, 175, 0.3);
  background: none;
  outline: none;
  box-sizing: border-box;
}

.form-login .form-input {
  position: relative;
}

.form-login input.username[type=text]:before {
  content: '';
  display: block;
  width: 26px;
  height: 28px;
  background: url('../img/user-icon.png') no-repeat center;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 0;

}